$--color-primary: #e6a23c; //改变主题颜色

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";


* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;

    #app {
        width: 100%;
        height: 100%;
        .el-header,
        .el-footer {
            background-color: $--color-primary;
        }
    }
}